
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;200;300;400;500;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Josefin Sans', sans-serif;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 10px 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 99;
}

.logo {
  width: 8%;
  user-select: none; /** Plus pour les textes  */
}

.navigation a {
  position: relative;
  font: 1.1em;
  color: #fff;
  text-decoration: none;
  font-weight: 600;
  margin-left: 40px;
}

.navigation a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -6px;
  width: 100%;
  height: 3px;
  background: #fff;
  border-radius: 5px;
  transform: scaleX(0); /**? Fait disparaître ce qui précède */
  transition: transform 0.5s;
  transform-origin: right; /**? Sens d'apparition droite vers gauche*/
}

.navigation a:hover::after {
  transform-origin: left; /**? Sens d'apparition gauche vers droite*/
  transform: scaleX(1);
}

.navigation .btnLogin-popup {
  width: 130px;
  height: 50px;
  background: transparent;
  border: 2px solid #fff;
  outline: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 1.1em;
  color: #fff;
  font-weight: 500;
  margin-left: 40px;
  transition: 0.5s;
}

.navigation .btnLogin-popup:hover {
  background: #fff;
  color: #162938;
}


section{
    padding: 0 10%;
    overflow: hidden;
}


.contact{
    background:#101010;
    height: 80%;
    width: 100%;
    min-height: 100vh;
    display: grid;
    grid-template-columns: repeat(2,2fr);
    align-items: center;
    grid-gap: 6rem;
}

.contact-location {
    max-width: 100%;
    width: 500px;
    height: auto;
    border-radius: 10px;
}

.contact-form h1{
    font-size: 80px;
    color: #fff;
    margin-bottom: 10px;
}

span{
    color: #f9004d;
}

.contact-form p{
    color: #c6c9d8bf;
    letter-spacing: 1px;
    line-height: 26px;
    font-size: 1.1rem;
    margin-bottom: 2.2rem;
}

.contact-form form {
    position: relative;
}

/* .contact-form{
    margin-top: 60px;
} */

.contact-form form input,button ,form textarea {
    width: 100%;
    padding: 15px;
    border: none;
    outline: none;
    background: #191919;
    color: #fff;
    font-size: 1.1rem;
    margin-bottom: 0.7rem;
    border-radius: 10px;
}

.contact-form textarea{
    resize: none;
    height: 130px;
}

.contact-form form .btn{
    display: inline-block;
    background: #f9004d;
    font-size: 1.1rem;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-weight: 600;
    border: 2px solid transparent;
    border-radius: 10px;
    width: 220px;
    transition: ease .20s;
    cursor: pointer;
}

.contact-form form .btn:hover{
    border: 2px solid #f9004d;
    background: transparent;
    transform: scale(1.1);
}

